/* index.css or App.css */
.ipa-card {
  width: 120px;
  height: 140px;
  /* border-radius: 12px; */
  background: #ffffff;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  border: 2px solid #ccc;
  flex-shrink: 0;
  margin-top: 5px;
}

.ipa-card:hover {
  transform: translateY(-4px);
  /* box-shadow: 0 8px 18px rgba(0, 0, 0, 0.18); */
  border-color: #888;
  /* outline: 2px solid #888; */
}

.ipa-symbol {
  font-size: 3rem;
  font-weight: bold;
}

.ipa-example {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #555;
}

.center-text {
  text-align: center;
}

.quiz-section {
  margin-top: 40px;
  text-align: center;
}

.choices {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}

.ipa-grid {
  display: grid;
  grid-template-columns: repeat(6, 120px);
  gap: 16px;
  /* justify-content: center; */
  /* grid-auto-flow: column; */
  margin-inline: auto;
  width: max-content;
  /* padding: 16px; */
}

.ipa-scroll {
  overflow-x: auto;
  scrollbar-width: thin; /* Firefox */
}

.ipa-scroll::-webkit-scrollbar {
  height: 8px;
}

.ipa-scroll::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);
  border-radius: 6px;
}
